*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    background: radial-gradient(circle at top left,#102a54, #070b1f 60%, #250724);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 40px;
    font-size: 55px;
    background: linear-gradient(90deg, #4fdcff, #ffffff, #ff4fa3);
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: 0 0 25px #4fdcff; */
}

.game{
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 50px;
}

:hover.box{
    background-color: rgb(224, 174, 219);
}

:hover.reset{
    background-color: rgb(224, 174, 219);
}

:hover.newGame{
    background-color: rgb(224, 174, 219);
}

.result{
    /* min-height: 30vh; */
    margin-top: 10px;
    font-size: 55px;
    background: linear-gradient(90deg, #f5e536, #ffffff, #58fd2b);
    -webkit-background-clip: text;
    color: transparent;
}

.newGame{
    height: 8vmin;
    width: 15vmin;
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 236, 192);
}

.reset{
    height: 8vmin;
    width: 15vmin;
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 236, 192);
}

.msgContainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    gap: 40px;
    display: none;
}



